from unittest import TestCase

from daily_solutions.year_{{ year }}.day_{{ day }} import Year{{ year }}Day{{ day }}Solution


example = []


class Day{{ day }}SolutionTestCase(TestCase):
    def setUp(self) -> None:
        self.solution = Year{{ year }}Day{{ day }}Solution
        self.data = self.solution.format_data(example)

    def test_solve_part_1(self) -> None:
        self.assertEqual(None, self.solution.solve_part_1(self.data))

    def test_solve_part_2(self) -> None:
        self.assertEqual(None, self.solution.solve_part_2(self.data))


class Day{{ day }}HelpersTestCase(TestCase):
    def test_helper(self) -> None:
        pass
