from unittest import TestCase

from daily_solutions.year_{{ year }}.day_{{ day }} import Year{{ year }}Day{{ day }}Solution


class Day{{ day }}TestCase(TestCase):
    def test_example(self) -> None:
        pass